---
layout: default
---
{% assign posts_count = (paginator.posts | size) %}
{% assign sorted_categories = site.categories | sort %}

<div class="row">
  <div class="col-md-4">
    <div class="list-group">
      <div class="list-group-item active">
        Project Pages
      </div>
      {% for category in sorted_categories %}
        <a href="{{ category[0] | prepend: '/projects/' | prepend: site.baseurl }}" class="list-group-item">
          <img class="img-icon" src="{{ 'assets/images/solder-icon.png' | prepend: site.baseurl }}">
          {{ category[0] }}
          <span class="badge">
            {{ category[1].size }}
          </span>
        </a>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-8">
    {% if posts_count > 0 %}
      {% for page in paginator.posts %}
        {% include post_summary.html %}
      {% endfor %}
      {% include pagination.html %}
    {% else %}
      <h1 class='center'>{{ site.text.index.coming_soon }}</h3>
    {% endif %}
  </div>
</div>
