<div class="row">
  {% if page.youtubeid %}
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      {% include youtube-embed.html id=page.youtubeid %}
    </div>
  {% else %}
    {% if page.images %}
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="{{ page.url | prepend: site.baseurl }}">
          {% if page.images[0] contains '//' %}
            <img class="img-responsive" src="{{ page.images[0] }}" alt="{{page.title}}">
          {% else %}
            <img class="img-responsive" src="{{ page.images[0] | prepend: site.baseurl }}" alt="{{page.title}}">
          {% endif %}
        </a>
      </div>
    {% endif %}
  {% endif %}
  <div class="col-lg-9 col-md-8 col-xs-6 thumb">
    <h4 class="media-heading"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h4>
    <em class="text-muted">
      {% include post_author.html %}
      {{ page.date | date: site.date_format }}
    </em>
  </div>
</div>