<div class="project-links">
  {% if page.product_page %}
      <a href="{{ page.product_page }}">
        <span class="fa fa-lightbulb-o"></span>
        Official Product Page
      </a>
  {% endif %}
  {% if page.osh_files %}
      <a href="{{ page.osh_files }}">
        <span class="fa fa-cog fa-spin"></span>
        Official Design Files
      </a>
  {% endif %}
  {% if site.slack_team %}
      <a href="https://{{ site.slack_team }}.slack.com/messages/{{ page.project }}/">
        <span class="fa fa-slack"></span>
        {{ page.project }} slack channel
      </a>
  {% endif %}
</div>