{% if site.repo_url %}
  <li><a class="fa fa-github" href="{{ site.repo_url }}"></a></li>
{% endif %}
{% if site.slack_team %}
  <li><a class="fa fa-slack" href="https://{{ site.slack_team }}.slack.com/"></a></li>
{% endif %}
{% if site.bitbucket_username %}
  <li><a class="fa fa-bitbucket" href="https://bitbucket.org/{{ site.bitbucket_username }}"></a></li>
{% endif %}
{% if site.stackoverflow_id %}
  <li><a class="fa fa-stack-overflow" href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}"></a></li>
{% endif %}
<li><a class="fa fa-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}"></a></li>
{% if site.twitter_username %}
  <li><a class="fa fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"></a></li>
{% endif %}
{% if site.skype_username %}
  <li><a class="fa fa-skype" href="skype:{{ site.skype_username }}?userinfo"></a></li>
{% endif %}
{% if site.steam_nickname %}
  <li><a class="fa fa-steam-square" href="http://steamcommunity.com/id/{{ site.steam_nickname }}"></a></li>
{% endif %}
{% if site.google_plus_id %}
  <li><a class="fa fa-google-plus" href="https://plus.google.com/{{ site.google_plus_id }}/posts"></a></li>
{% endif %}
{% if site.email %}
  <li><a class="fa fa-envelope" href="mailto:{{ site.email }}"></a></li>
{% endif %}
{% if site.linkedin_username %}
  <li><a class="fa fa-linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"></a></li>
{% endif %}
{% if site.angellist_username %}
  <li><a class="fa fa-angellist" href="https://angel.co/{{ site.angellist_username }}"></a></li>
{% endif %}
{% if site.medium_id %}
  <li><a class="fa fa-medium" href="https://medium.com/@{{ site.medium_id }}"></a></li>
{% endif %}
