---
# The scss file which include files from _sass/
# to include style sets from the _sass folder, add an include here.
# e.g. for a file _sass/_specials.scss, add:;
# @import 'specials';
---
@charset "UTF-8";

@import 'animations';

body {
  font-family: "Source Sans Pro", sans-serif;
}

.navbar-default {
  background-color: unset;
  border: none;
  margin-bottom: 50px;
}
.navbar-brand {
  padding-top: 5px;
  > img {
    height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .navbar-default {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 500px) {
  .navbar-brand img {
    height: 29px;
  }
}

.nav-tabs {
  margin-bottom: 20px;
}

.footer {
  min-height: 50px;
}

.post {
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

iframe.youtube-embed {
  max-width: 100%;
  max-height: 100%;
  width: 560px;
  height: 315px;
}

.thumb iframe.youtube-embed {
  width: auto;
  height: auto;
}