---
# The scss file which include files from _sass/
# to include style sets from the _sass folder, add an include here.
# e.g. for a file _sass/_specials.scss, add:;
# @import 'specials';
---
@charset "UTF-8";

@import 'animations';
@import 'youtube';
@import 'video';

body {
  font-family: 'Play','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.h1, .h2, .h3, h1, h2, h3 {
  font-weight: 700;
}

.navbar-default {
  background-color: unset;
  border: none;
  margin-bottom: 50px;
}
.navbar-brand {
  padding-top: 5px;
  > img {
    height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .navbar-default {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 500px) {
  .navbar-brand img {
    height: 29px;
  }
}
@media screen and (max-width: 400px) {
  .navbar-brand img {
    height: 26px;
  }
}

.nav-tabs {
  margin-bottom: 20px;
}

.footer {
  min-height: 50px;
}

.post {
  margin-bottom: 20px;
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  h3 {
    margin-top: 0;
  }
}
.project-links {
  a {
    text-decoration: none;
    padding-right: 15px;
  }
}
.img-icon {
  height: 17px;
  padding-right: 2px;
}
