---
layout: default
---
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">
      {% if page.short_name %}
        {{ page.short_name }}
      {% else %}
        {{ page.project }}
      {% endif %} Project Page
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li role="presentation" class="active"><a href="#about" aria-controls="about" role="tab" data-toggle="tab">About</a></li>
      <li role="presentation"><a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Posts</a></li>
      <li role="presentation"><a href="#builds" aria-controls="builds" role="tab" data-toggle="tab">Community Builds</a></li>
      <li role="presentation"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">Resources</a></li>
      <li role="presentation"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">Gallery</a></li>
    </ul>
    <div>
      <!-- Tab panes -->
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active post" id="about">
          <div class="jumbotron">
            <div class="panel-body">
              {% if page.title %}
                <h2>{{ page.title }}</h2>
              {% endif %}
              {{ content }}
            </div>
            {% if page.hero_image %}
              <div class="panel-body">
                <img src="{{ page.hero_image }}" class="img-responsive">
              </div>
            {% endif %}
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="posts">
          <p class="jumbotron panel-body">
            Posts from Club Members about the project..
          </p>
          {% for page in site.categories[page.project] %}
            {% include post_summary.html %}
          {% endfor %}
        </div>

        <div role="tabpanel" class="tab-pane" id="builds">
          <p class="jumbotron panel-body">
            Looking for inspiration on what to do with this project?
            Check out these projects builds shared by Club Members..
          </p>
          {% for page in site.categories[page.project] %}
            {% if page.tags contains 'builds' %}
              {% include post_list_item.html %}
            {% endif %}
          {% endfor %}
        </div>

        <div role="tabpanel" class="tab-pane" id="resources">
          <div class="jumbotron panel-body">
            Supporting resources shared by Club Members for this project..
            {% include project_links.html %}
          </div>
          {% for page in site.categories[page.project] %}
            {% if page.tags contains 'resources' %}
              {% include post_list_item.html %}
            {% endif %}
          {% endfor %}
        </div>

        <div role="tabpanel" class="tab-pane" id="gallery">
          <p class="jumbotron panel-body">
            Boldport is all about beautiful boards.
            Take a look..
          </p>
          {% for page in site.categories[page.project] %}
            {% for image_url in page.images %}
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{{ page.url | prepend: site.baseurl }}">
                  {% if image_url contains '//' %}
                    <img class="img-responsive" src="{{ image_url }}" alt="{{page.title}}">
                  {% else %}
                    <img class="img-responsive" src="{{ image_url | prepend: site.baseurl }}" alt="{{page.title}}">
                  {% endif %}
                </a>
              </div>
            {% endfor %}
            {% if page.youtubeid %}
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                {% include youtube-embed.html id=page.youtubeid %}
              </div>
            {% endif %}
            {% for video_url in page.videos %}
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                {% include video-embed.html url=video_url %}
              </div>
            {% endfor %}
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</div>
